<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DBproject2._1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <DBproject2._1.Properties.Settings>
            <setting name="DB_CONNECTION" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Richard\Library.mdf;Integrated Security=True;Connect Timeout=5</value>
            </setting>
            <setting name="DEFAULT_CHECKOUT_DAYS" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MEMBER_MIN_BOOK_SEARCH_CHARS" serializeAs="String">
                <value>3</value>
            </setting>
        </DBproject2._1.Properties.Settings>
    </applicationSettings>
</configuration>